@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Itim&display=swap");

:root {
  --primary-font: "Itim", sans-serif;
  --secondary-font: "Grandstander", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.section1 {
  position: relative;
}
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.box1 {
  position: relative;
  background-color: rgba(57, 145, 28, 0.7);
  padding-bottom: 180px;
}
header {
  padding: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.header-logo img {
  max-width: 66px;
}
.header-button a {
  padding: 19px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: var(--primary-font);
  font-size: 19px;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(180deg, #00e38d 0%, #408c01 100%);
  border-radius: 50px;
}
.header-button svg {
  width: 8px;
  margin-top: 5px;
  fill: #fff;
}

.cloud1 {
  transform: scaleY(-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cloud1 svg {
  fill: #3F8F1B;
}


.box1-content {
  display: flex;
  gap: 0 70px;
}
.box1-left {
  width: 575px;
  padding-top: 70px;
}
.box1-right img {
  animation: animation1 2s linear infinite;
}
@keyframes animation1 {
  0%, 100% {
    transform: translate(0px, 0px)
  }
  50% {
    transform: translate(10px, 10px)
  }
}
.box1-right:hover {
  transform: translateY(-10px);
  transition: .5s linear;
}
.box1-right {
  width: 508px;
  margin-top: -20px;
}
.box1-left h1 {
  font-size: 64px;
  font-family: var(--secondary-font);
  font-weight: 700;
  margin-bottom: 30px;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.box1-text1 {
  font-size: 19px;
  line-height: 1.6em;
  font-family: var(--primary-font);
  font-weight: 400;
  margin-bottom: 30px;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  margin-bottom: 15px;
}
.box1-text2 {
  font-size: 19px;
  line-height: 1.6em;
  font-family: var(--primary-font);
  font-weight: 400;
  margin-bottom: 30px;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  margin-bottom: 15px;
}
.box1-button {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.box1-button a {
  padding: 19px 35px;
  display: flex;
  gap: 10px;
  border-radius: 50px;
  font-family: var(--primary-font);
  font-size: 19px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.box1-button a:first-child {
  background: #FFF;
  color: #408C01;
}
.box1-button a:last-child {
  background-image: linear-gradient(180deg, #00E38D 0%, #408C01 100%);
  color: #FFF;
}
.box1-button a:first-child:hover {
  background-image: linear-gradient(180deg, #FFF 0%, #DBFFFF 100%);
}
.box1-button a:first-child svg {
  width: 12px;
  fill: #408C01;
}
.box1-button a:last-child svg {
  width: 19px;
  fill: #FFF;
}
.box1-list-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.box1-list-icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1-list-icon a:hover {
  transform: scale(0.9);
  transition: .3s linear;
}
.box1-list-icon a svg {
  width: 25px;
  fill: #408C01;
}

@media screen and (max-width: 1024px) {
  .box1 {
    padding: 0 16px 170px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
}
@media screen and (max-width: 700px) {
  .box1 {
    padding: 0 40px 70px;
  }
  
  header {
    padding: 20px 20px 20px 0px;
  }
  .box1-content {
    display: flex;
    gap: 50px 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1-left {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
  }
  .box1-right {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  .box1-right img {
    max-width: 247px;
    margin: 0 auto;
  }
  .box1-left h1 {
    font-size: 39px;
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: 30px;
    color: #FFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}


.section2 {
  position: relative;
  padding: 118px 0 270px;
  background: rgba(64, 140, 1, 0.82);
  margin-top: -1px;
}
.cloud2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cloud2 svg {
  fill: #3F8F1B;
}
.about {
  position: relative;
  margin-bottom: 80px;
}
.about-container {
  display: flex;
  align-items: center;
}
.about-left {
  width: 50%;
  position: relative;
}
.about-right {
  width: 50%;
  padding-left: 100px;
  position: relative;
  z-index: 10;
}
.about-img2 img {
  width: 80px;
  position: absolute;
  top: 30%;
  left: 40px;
  animation: scaleabout 2s ease-in-out infinite;
}
@keyframes scaleabout {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}
.about-heading {
  font-family: var(--secondary-font);
  font-size: 52px;
  line-height: 1.2em;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 40px;
}
.about-description {
  font-family: var(--primary-font);
  font-size: 19px;
  line-height: 1.6em;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 40px;
  max-width: 490px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .box2 {
    padding: 0 20px 0px;
  }
}
@media screen and (max-width: 700px) {
  .section2 {
    position: relative;
    padding: 40px 0 250px;
    background: rgba(64, 140, 1, 0.82);
    margin-top: -1px;
  }
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .about-left {
    width: 100%;
    position: relative;
  }
  .about-right {
    width: 100%;
    padding-left: 10px;
  }
  .about-img1 {
    text-align: right;
  }
  .about-img1 img {
    max-width: 265px;
  }
  .about-img2 img {
    width: 60px;
    position: absolute;
    top: 30%;
    left: 70px;
    animation: scaleabout 2s ease-in-out infinite;
  }
  .about-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

/* ==========Token=========== */

.token-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.token-left {
  width: 527px;
}
.token-right {
  padding-right: 200px;
}
.token-right img {
  width: 403px;
  animation: animation1 3s ease-in-out infinite;
}
@keyframes animation1 {
  0%, 100% {
    transform: translate(0px, 0px)
  }
  50% {
    transform: translate(10px, 10px)
  }
}
.token-heading {
  font-family: var(--secondary-font);
  font-size: 52px;
  line-height: 1.2em;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 20px;
}
.token-text1 {
  font-size: 19px;
  font-family: var(--primary-font);
  line-height: 1.6em;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 20px;
}
.token-text2 {
  font-size: 19px;
  font-family: var(--primary-font);
  line-height: 1.6em;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 20px;
}
.token-text3 {
  font-size: 19px;
  font-family: var(--primary-font);
  line-height: 1.6em;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 20px;
}
.token-list {
  display: flex;
  gap: 40px;
}
.token-item {
  text-align: center;
  flex: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 30px 30px 30px 30px;
  background-color: #FFFFFF52;
  border-radius: 10px;
}
.token-item:hover {
  background-color: #006E41;
  transition: .2s linear;
}
.token-item-img  img {
  max-width: 230px;
  margin-top: -80px;
  margin-bottom: 15px;
}
.token-item-title {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
  color: #FFF;
}

.cloud3 {
  transform: scaleY(-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cloud3 svg {
  fill: #408C01;
}
@media screen and (max-width: 1024px) {
  .token-right {
    padding-right: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .token-list {
    flex-direction: column;
    gap: 170px;
    max-width: 360px;
    margin: 0 auto;
  }
  .token-item {
    text-align: center;
    flex: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 30px 30px 30px;
    background-color: #FFFFFF52;
    border-radius: 10px;
  }
}
@media screen and (max-width: 700px) {
  .token-container {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .token-right img {
    width: 228px;
  }
  .token-left {
    width: 100%;
    text-align: center;
  }
  .token-heading {
    font-size: 52px;
  }
}





.section3 {
  position: relative;
  padding: 118px 0 170px;
  background-image: linear-gradient(180deg, rgba(64, 140, 1, 0.83) 0%, rgba(129, 196, 74, 0.83) 100%);
  margin-top: -1px;
}
.cloud4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cloud4 svg {
  fill: #408C01;
}
.cloud5 {
  transform: scaleY(-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cloud5 svg {
  fill: #81C44A;
}

.roadmap-container {
  max-width: 700px;
  margin: 0 auto;
}
.roadmap-heading {
  font-size: 36px;
  font-family: var(--secondary-font);
  font-weight: 400;
  margin-bottom: 60px;
  color: #FFF;
  position: relative;
  z-index: 10;
}
.roadmap-list {
  position: relative;
  z-index: 10;
}
.roadmap-item {
  display: flex;
}
.roadmap-item:not(:last-child) .roadmap-item-left {
  border-right: 1px solid #408C01;
}
.roadmap-item .roadmap-item-left {
  padding-right: 60px;
  position: relative;
}

.roadmap-item-left::after {
  content: "";
  width: 17px;
  height: 17px;
  background: #408c01;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 15px;
}
.roadmap-item-right {
  padding-left: 60px;
  padding-bottom: 20px;
  border-left: 2px solid #9DB5EA;
}
.roadmap-item:first-child .roadmap-item-left {
    padding-right: 60px;
    padding-bottom: 20px;
    border-left: 2px solid transparent;
}
.roadmap-item-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 12px;
  border-radius: 50px;
  background: #408c01;
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: #FFF;
}
.roadmap-item-icon span:first-child {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roadmap-item-icon span svg {
  width: 14px;
  fill: #408C01;
}
.roadmap-item-heading {
  font-family: var(--primary-font);
  font-size: 30px;
  line-height: 1.6em;
  margin-bottom: 20px;
  color: #FFF;
}
.roadmap-item-text {
  font-family: var(--primary-font);
  font-size: 19px;
  line-height: 1.6em;
  margin-bottom: 35px;
  color: #FFF;
}
.roadmap-item-heading2 {
  display: flex;
  gap: 10px;
}
.roadmap-item-heading2 img {
  width: 25px;
}
.roadmap-img {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.roadmap img {
  max-width: 204px;
}
@media screen and (max-width: 700px) {
  .roadmap-item {
    display: flex;
    flex-direction: column;
  }
  .roadmap {
    padding: 0 20px;
  }
  .roadmap-item-right {
    padding-left: 40px;
    padding-bottom: 40px;
    border-left: 2px solid #9DB5EA;
  }
  .roadmap-item .roadmap-item-left {
    padding-right: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 0px;
  }
  .roadmap-item:first-child .roadmap-item-left {
    padding-right: 60px;
    padding-bottom: 20px;
    border-left: 2px solid #408c01;
  }
  .roadmap-item .roadmap-item-left {
    border-left: 2px solid #408c01;
  }
  .roadmap-item:not(:last-child) .roadmap-item-left {
    border-right: none;
  }
  .roadmap-item-left::after {
    content: "";
    width: 17px;
    height: 17px;
    background: #408c01;
    border-radius: 50%;
    position: absolute;
    right: initial;
    top: 15px;
    left: -10px;
  }
  .roadmap-item-icon {
    gap: 15px;
    width: 125px;
    padding: 10px 12px;
    border-radius: 50px;
    background: #408c01;
    font-size: 16px;
  }
  .roadmap-item-text {
    margin-bottom: 11px;
  } 
  .roadmap-img {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .roadmap-item:last-child .roadmap-item-right {
        padding-bottom: 0px;
    }
}

.section4 {
  padding: 250px 0px 70px 0px;
  position: relative;
  background: url("../images/bg-footer.png") center center no-repeat;
}
.section4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
}
.cloud6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cloud6 svg {
  fill: #81C44A;
}
footer {
  position: relative;
}
.footer-container {
  display: flex;
}
.ft-left {
  width: 620px;
  text-align: center;
}
.ft-left img {
  max-width: 310px;
}
.ft-icon {
  display: flex;
}
.ft-heading {
  padding-left: 35px;
  border-left: 3px solid #408c01;
  font-family: var(--secondary-font);
  font-size: 32px;
  line-height: 1.2em;
  color: #408C01;
  margin-bottom: 30px;
}
.ft-text {
  max-width: 500px;
  color: #1A1A1A;
  font-family: "Itim", Sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.6em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}
.ft-icon {
  display: flex;
  gap: 0 10px;
  margin-bottom: 15px;
}
.ft-icon a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #408C01;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft-icon a:hover {
  transform: scale(0.9);
  transition: .3s linear;
}
.ft-icon a svg {
  width: 25px;
  height: 25px;
  fill: #FFF;
}
.copyright {
  font-size: 17px;
  line-height: 1em;
  color: #408C01;
  font-weight: 600;
  font-family: var(--secondary-font);
}

@media screen and (max-width: 700px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 28px;
    gap: 15px;
  }
  .ft-left {
    width: 100%;
    text-align: center;
  }
  .ft-right {
    text-align: center;
  }
  .ft-heading {
    padding-left: 0px;
    border: none;
    font-family: var(--secondary-font);
    font-size: 32px;
    line-height: 1.2em;
    color: #408C01;
    margin-bottom: 30px;
  }
  .section4 {
    padding: 70px 0px 40px 0px;
    position: relative;
    background: url(../images/bg-footer.png) center center no-repeat;
  }
  .ft-icon {
    display: flex;
    justify-content: center;
    gap: 0px 10px;
    margin-bottom: 15px;
  }
  .ft-text {
    margin-bottom: 40px;
  }
  .ft-left img {
    max-width: 187px;
  }
}


.mb {
  display: none;
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden !important;
  }
  .mb {
    display: block;
  }
  .pc {
    display: none;
  }
}